.lesson-one {
  background-color: white;
  display: flex;
  flex-direction: row;
  padding: 12px;
}

.left-panel {
  flex: 1 1 50%;
  margin-right: 12px;
}

.right-panel {
  flex: 1 1 50%;
}

.run-btn {
  margin-top: 24px;
}

.correct {
  color: #4CAF50;
}

.wrong {
  color: #FF9800;
}