@import '../../../styles/variables';

// change the height for the viewonly codemirror 
::ng-deep .viewonly-1 > .CodeMirror{
  height: auto;
}

.run-btn {
  margin-top: 24px;
  margin-right: 8px;
}

.correct {
  color: $green;
}

.wrong {
  color: $orange;
}