<div class="code-school-container">
  <div class="header">
    <div class="header-container">
      <h3 class="title">Learn JavaScript</h3>
    </div>
  </div>
 
  <div class="main">
    <div class="main-container">
      <p>hellos</p>
      <p>hellos</p>
      <p>hellos</p>
      <p>hellos</p>
      <p>hellos</p>
    </div>
  </div>
 
  <div class="footer">
    <div class="footer-container">
      <button mat-raised-button class="back-btn">Back</button>
      <span>1/7</span>
      <button mat-raised-button class="next-btn" color="primary">Next</button>
    </div>
  </div>

</div>