<div class="code-school-container">
	<div class="header">
		<div class="header-container">
			<h3 class="title">Learn JavaScript</h3>
		</div>
	</div>

	<div class="main">
		<div class="main-container">
			<ng-container *ngIf="currentLessonIndex === 0">
				<lesson-preface (exerciseFinish)="onExerciseFinish($event)">
				</lesson-preface>
			</ng-container>

			<ng-container *ngIf="currentLessonIndex === -1">
				<lesson-one (exerciseFinish)="onExerciseFinish($event)">
				</lesson-one>
			</ng-container>

			<ng-container *ngIf="currentLessonIndex === 2">
				<lesson-two (exerciseFinish)="onExerciseFinish($event)"></lesson-two>
			</ng-container>

			<ng-container *ngIf="currentLessonIndex === 3">
				<lesson-three (exerciseFinish)="onExerciseFinish($event)"></lesson-three>
			</ng-container>

			<ng-container *ngIf="currentLessonIndex === 1">
				<lesson-four (exerciseFinish)="onExerciseFinish($event)"></lesson-four>
			</ng-container>

			<ng-container *ngIf="currentLessonIndex === 5">
				<p>hello 6</p>
			</ng-container>

			<ng-container *ngIf="currentLessonIndex === 6">
				<p>hello 7</p>
				<button mat-button (click)="finishLastLessonDummyButtonClicked()">
          finish last lesson dummy button
        </button>
			</ng-container>

		</div>
	</div>

	<div class="footer">
		<div class="footer-container">
			<button
          mat-raised-button
          class="back-btn"
          [disabled]="isBackButtonDisabled"
          (click)="backButtonClicked()">
        Back
      </button>
			<span> {{ currentLessonIndex }} / {{ totalLessonIndex }}</span>
			<button
          *ngIf="!allLessonsFinished"
          mat-raised-button
          class="next-btn"
          color="primary"
          [disabled]="isNextButtonDisabled"
          (click)="nextButtonClicked()">
        Next
      </button>
			<button
          *ngIf="allLessonsFinished"
          mat-raised-button
          class="finish-btn"
          color="primary"
          (click)="finishButtonClicked()">
        Finish
      </button>
		</div>
	</div>

</div>